{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription
{% endblock %}

{% block body %}

<div class="jumbotron Jumbotron-fluid justify-content-center pt-3">
    <div class="container">
        <div class="form-group row ml-1">
            <h2>INSCRIPTION</h2>
        </div>
        {{ form_start(form_register) }}
        {% if not form_register.vars.valid %}
        <div class="error_form" style="height: 100%;">
            {{ form_errors(form_register) }}
        </div>
        {% endif %}

        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-left" for="" name="form_register[nomMember]">
                <h5>Entrez votre pseudo :</h5>
            </label>
            <div class="col-sm-8">
                {{ form_errors(form_register.nomMember) }}
                {{ form_widget(form_register.nomMember) }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-left" for="pass">
                <h5>Entrez votre mot de passe :
                </h5>
            </label>
            <div class="col-sm-8">
                {{ form_errors(form_register.password.first) }}
                {{ form_widget(form_register.password.first) }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-left" for="confpass">
                <h5>Confirmez votre mot de passe :
                </h5>
            </label>
            <div class="col-sm-8">
                {{ form_errors(form_register.password.first) }}
                {{ form_widget(form_register.password.second) }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-left" for="mail">
                <h5>Entrez votre email :
                </h5>
            </label>
            <div class="col-sm-8">
                {{ form_errors(form_register.mailMember) }}
                {{ form_widget(form_register.mailMember) }}
            </div>
        </div>
        {# Inclusion de CSRF Token #}
        {{ form_widget(form_register._token) }}

        <div class="row justify-content-center"> <input class="btn btn-secondary btn-lg" name="forminscription"
                type="submit" value="S'inscrire" />
            <input class=" btn btn-secondary btn-md offset-sm-1" name="reinitialiser" type="reset"
                value="Réinitialiser" />
        </div>

        {{ form_end(form_register, {'render_rest': false}) }}

    </div>
    {# Class CONTAINER #}
</div>
{# Jumbotron #}

{% endblock %}