{% extends 'base.html.twig' %}

{% block title %}
    Mes recettes
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-3 pl-3">
            <medium class="text mr-5 mb-2">Bienvenue
                <strong>{{app.user.username}}</strong>, vous avez
                <strong>{{recettes|length}}</strong>
                recettes
                {% if status == 'oui' %}
                    actives.
                {% elseif status == 'non' %}
                    inactives.
                {% endif %}
            </medium>
            <br>
            {# <p>The current version is {{ constant('Twig_Environment::VERSION') }}</p> #}
            <div class="justify-content-end">
                {% if status == "oui" %}
                    <a href="{{ path('mydiy', { 'status': 'non'} ) }}" class="btn btn-secondary btn-md mt-2">> Voir mes recettes INACTIVES</a>
                {% else %}
                    <a href="{{ path('mydiy', { 'status': 'oui'} ) }}" class="btn btn-secondary btn-md mt-2">> Voir mes recettes ACTIVES</a>
                {% endif %}
            </div>
        </div>
        <hr>
        {# TRI #}
        <div class="row mt-3 pl-3">
            <div class="justify-content-start">
                <form action="" method="POST">
                    <label for="tri_recette">Trier les recettes par :</label>
                    <select name="tri_recette">
                        <option value="r.datRecet:DESC">date de création (décroissante)</option>
                        <option value="r.datRecet:ASC">date de création (croissante)</option>
                        <option value="r.datStee:ASC">date de steep (croissante)</option>
                        <option value="r.datStee:DESC">date de steep (décroissante)</option>
                        <option value="a.nomAro:ASC">arôme</option>
                        <option value="a.fabAro:ASC">fabricant</option>
                        <option value="r.etaStee:ASC">état du steep</option>
                        <option value="r.etoiles:DESC">notation étoiles</option>
                        <option value="ar.dosAro:ASC">dosage</option>
                        <option value="b.idBase:ASC">type de base</option>
                    </select>
                    <input class="btn btn-secondary btn-sm" type="submit" value="Afficher"/>
                </form>
            </div>
        </div>
        <hr>
        {#  AFFICHAGE des Recettes #}
        <div class="container-fluid p-0">
            <div
                class="row">
                {#  Début du FETCH #}
                {% for recette in recettes %}
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 ">
                        <div class="card pt-1 {{ recette[0].etaStee }}">
                            <div class="cartouche">
                                <strong>
                                    {{ recette[0].etaStee }}
                                </strong>
                                <h3 class="mt-3 text-uppercase">
                                    <strong>{{ recette.nomAro }}</strong>
                                </h3>
                                <h5 class="text-uppercase">
                                    <em>{{ recette.fabAro }}</em>
                                </h5>
                                <p class="pb-2">
                                    <strong>
                                        {{ recette.dosAro|number_format(1, ',')|replace({',0': ""})}}
                                        %</strong>
                                </p>
                            </div>

                            <div class="card-block">
                                <p>
                                    <em>{{ recette[0].comMember }}</em>
                                </p>
                                <div class="badge badge-pill badge-default mb-1 pt-1">Base
                                    {{ recette.dosPg }}
                                    /
                                    {{ recette.dosVg }}
                                </div>
                                <span class="badge badge-pill badge-default">
                                    {{ recette[0].qteBas|number_format(1, ',')|replace({',0': ""})}}
                                    ml (base) +
                                    {{ recette[0].qteAro|number_format(1, ',')|replace({',0': ""})}}
                                    ml (arôme)</span>
                                <span class="badge badge-pill badge-default mb-3">Qté totale :
                                    {{ recette[0].qteTot }}
                                    ml</span>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span>
                                            {% if recette[0].etoiles > 0 %}
                                                {% for item in 1..recette[0].etoiles %}
                                                    <img height="28" src="{{ asset('static/img/star_36px.png') }}" width="28">
                                                {% endfor %}
                                                {% for item in 1..(5-recette[0].etoiles) if recette[0].etoiles < 5 %}
                                                    <img height="28" src="{{ asset('static/img/star_outline_36px.png') }}" width="28">
                                                {% endfor %}
                                            {% else %}
                                                {% for item in 1..5 %}
                                                    <img height="28" src="{{ asset('static/img/star_outline_36px.png') }}" width="28">
                                                {% endfor %}
                                            {% endif %}
                                        </span>
                                    </li>
                                    <li class="list-group-item">Date création :
                                        {{ recette[0].datRecet|date("d/m/Y") }}
                                    </li>
                                    <li class="list-group-item">Steep estim. :
                                        {{ recette[0].datStee|date("d/m/Y") }}
                                    </li>
                                </ul>
                                {# EDITER LA RECETTE #}
                                <div class="">
                                    <a href="{{ path('edit_recette', { 'id': recette[0].idRecet, 'dosPg': recette.dosPg, 'dosVg': recette.dosVg, 'dosAro': recette.dosAro, 'fabAro': recette.fabAro, 'nomAro': recette.nomAro} ) }}" class="btn btn-secondary btn-md mt-2">Modifier cette recette</a>
                                </div>
                            </div>
                        </div>
                        {# fin DIV CARD #}
                    </div>
                {% endfor %}
            </div>
            {# fin DIV ROW #}
        </div>
        {# fin DIV CONTAINER FLUID P-0 #}
    </div>
    {# fin DIV CONTAINER principal #}


{% endblock %}
