{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

    <div class="container">
        <div>
            <h1>NEW DIY</h1>
            {{ form_start(form_newdiy) }}
            {{ form_errors(form_newdiy) }}

            {{ form_row(form_newdiy.datRecet) }}
            {{ form_row(form_newdiy.qteAro) }}
            {{ form_row(form_newdiy.qteBas) }}
            {{ form_row(form_newdiy.qteTot) }}
            {{ form_row(form_newdiy.datStee) }}
            {{ form_row(form_newdiy.etaStee) }}
            {{ form_row(form_newdiy.comMember) }}
            {{ form_row(form_newdiy.affRecet) }}
            {{ form_row(form_newdiy.etoiles) }}
            {{ form_row(form_newdiy.idMember) }}
            {{ form_row(form_newdiy.idBase) }}

            {% for item in listeBases %}
                <div>
                    CORRECTIF =
                    {{item.correctif}}</div>
            {% endfor %}

            {# The collection aromeRecettes is blank, must be rendered in html #}
            <div id="recette_aromeRecettes" name="recette[aromeRecettes]">
                <div id="recette_aromeRecettes_0" name="recette[aromeRecettes][0]">
                    <div>
                        <label for="recette[aromeRecettes][0][dosAro]">
                            Dosage</label>
                        <input id="recette_aromeRecettes_0_dosAro" name="recette[aromeRecettes][0][dosAro]" type="text" value=""/>
                    </div>
                    <div>
                        <label for="recette[aromeRecettes][0][idAro]">
                            Id Arome</label>
                        <select id="recette_aromeRecettes_0_idAro" name="recette[aromeRecettes][0][idAro]">
                            {% for item in listeAromes %}
                                <option value="{{item.idAro}}">{{item}}
                                    Nb de jours de steep =
                                    {{item.nbJStee}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="recette[aromeRecettes][0][idRecet]">
                            Id Recette</label>
                        <input id="recette_aromeRecettes_0_idRecet" name="recette[aromeRecettes][0][idRecet]" type="text" value=""/>
                    </div>
                </div>
            </div>

            {{ form_row(form_newdiy._token) }}
            <button class="btn btn-outline-primary btn-lg btn-block spacer" type="submit">
                Sauvegarder cette recette</button>

            {{ form_end(form_newdiy, {'render_rest': false}) }}
        </div>
        <hr>
    </div>
{% endblock %}
